<section id="profile">
    <div>
      <img src="assets/batman_avatar.webp" />
      <span id="userName">Juan Pérez</span>
    </div>
    <div>
      <span>{{posts}}</span>
      <span>Publicaciones</span>
    </div>
    <div>
      <span>5</span>
      <span>Seguidores</span>
    </div>
    <div>
      <span>250</span>
      <span>Solicitudes</span>
    </div>
  </section>
  <section id="gallery">
    <img src="/assets/gallery0.jpg" />
    <img src="/assets/gallery1.jpg" />
    <img src="/assets/gallery2.webp" />
    <img src="/assets/gallery3.jpeg" />
    <img src="/assets/gallery4.jpg" />
    <img src="/assets/gallery5.jpg" />
    <img src="/assets/gallery6.jpg" />
    <img src="/assets/gallery7.jpg" />
    <img src="/assets/gallery8.webp" />
    <img src="/assets/gallery9.avif" />
   
  </section>